.Filters {
  width: 28vw;
  font-family: "Poppins300", sans-serif;
  font-size: 20px;
  text-align: center;
  @media (max-width: 768px) {
    display: none;
  }
  button{
    padding: 0.5rem 3rem;
    background: #ff5722;
    border: none;
    border-radius: 1rem;
    color: #fff;
    &:hover{
      cursor: pointer;
    }
  }
  .accordion__heading{
      font-size: 15px;
  }
  .accordion__button {
    text-align: left;
    background: #fafaf8;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.5rem 0;
    position: relative;
    &:hover{
      cursor: pointer;
    }
    &[aria-expanded="true"] {
      &:after {
        transform: translateY(-50%) rotate(-90deg);
        transition: all 0.2s;
      right: 10px;

      }
    }
    &:after {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      border-top: 8px solid rgba(128, 128, 128, 0.568);
      border-right: 8px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 9px solid transparent;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}
