.FilterItem{
    display: flex;
    justify-content: start;
    text-align: center;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    font-size: 14px;
    transition: all 0.2s;
    &:hover{
        cursor: pointer;
    }
    &.selected{
        margin-bottom: 5px;
        border: 1px solid #f6b64326;
    box-shadow: 0 0 3px #f6b643;
    background: #f6b64336;
    transition: all 0.2s;

    }
    img{
        width: 40px;
        align-self: center;
        margin-right: 1rem;
    }
    p{
        align-self: center;
        text-align: left;
    }
}