.ProductDetailsPage {
  width: 80%;
  margin: 2rem auto 8rem;
  display: flex;
  &-rightBox {
    flex-grow: 1;
    background: #fff;
    box-shadow: 2px 3px 14px #a5a5a5;
    border-radius: 1rem;
    padding: 2rem;
    flex-shrink: 0;
    flex-basis: 50%;
    font-family: "Poppins300", sans-serif;
    display: flex;
    flex-direction: column;

    .item-toySet {
      font-family: "Poppins500", sans-serif;
      font-size: 12px;
      color: #f1c674;
    }
    .item-description {
      flex-grow: 1;
    }
    .button-addToCart {
      &.added{
        button{

          background-color: #ff5722;
        }

        }
      button {
        background-color: #50b061;
        border-radius: 1rem;
        color: #fff;
        width: 100%;
        padding: 1rem;
        font-size: 19px;
        border-radius: 16px;
        font-family: "Poppins500", sans-serif;
        
        &:hover{
          cursor: pointer;
        }
      }
    }

    .item-name {
      font-family: "Poppins600", sans-serif;
      font-size: 30px;
      margin: 1rem 0;
      text-transform: capitalize;
    }
  }
  &-imageBox {
    flex-basis: 50%;
    img {
      filter: drop-shadow(0px 5px 6px #000);
      margin: 3rem;
      max-height: 25rem;
      max-width: 25rem;
    }
  }
}
